@page { 
    size: A4 portrait;
    margin-top: 25mm;
	margin-bottom: 16mm;
	margin-left: 15mm;
	margin-right: 15mm;
	padding: 0mm;
}
.noprint {
	display: none !important;
}
html, body, .preview {
	display: contents;
}
.page {
	display: grid;
	grid-template-columns: 60mm 60mm 60mm;
	text-align: left;
	box-sizing: border-box;
	width: 100%;
	overflow-x: hidden;
	background-color: white;
	padding: 0mm;
	margin: 0mm;
	overflow: visible;
}
.barcode-container {	
	position: relative;
	text-align: center;
	box-sizing: border-box;
	/*border: 2px solid black;*/
	background-color: white;
	width: 60mm;
	height: 32mm;
	/*page-break-inside: avoid;*/
	vertical-align: top;
	margin: 0mm;
}
p {
	margin-top: 0px;
	line-height: 1.1;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial;
}
.totalp {
	font-size: 32pt;
	margin: 0mm;
	margin-top: 3mm;
	font-weight: bold;
}
#total-container {	
	position: relative;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: white;
	border: 5px solid black;
	border-radius: 10px;
	width: 40mm;
	height: 32mm;
	text-align: center;
	/*page-break-inside: avoid;*/
	margin: 0mm;
	margin-left: 10mm;
	margin-right: 10mm;
	vertical-align: top;
}
.qty-label {
	font-size: 24pt;
	margin: 0px;
	/*margin-top: 5mm;*/
	font-weight: bold;
}
.barcode {
	display: block;
	box-sizing: border-box;
	width: 50%;
	margin: auto;
}