html {
  background: white;
  box-sizing: border-box;
  height: 100%;
}
body {
	box-sizing: border-box;
	margin: 0px;
	width: 100%;
	height: 100%;
	padding: 10px;
}
label {
	font-family: Arial;
}
h1 {
	font-family: Arial;
	margin: auto;
	text-align: center;
}
footer {
	text-align: center;
	margin-top: 10px;
	padding: 0px;
	box-sizing: border-box;
	border: 3px solid green;
	height: 100px;
}
#footertext {
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 100%
}
.footertext {
	margin-top: 5px;
	line-height: 20px;
}

p {
	margin-top: 0px;
	line-height: 1.1;
	display: inline-block;
	vertical-align: middle;
	font-family: Arial;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
li {
	float: left;
	display: inline;
	width: 98px;
	height: 44px;
	line-height: 40px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	background-color: silver;
	font-family: Arial;
	font-weight: bold;
	font-size: 16px;
	box-sizing: border-box;
	border: 2px solid black;
}
#gitlink {
	background-color: purple;
	border-right-width: 1px;
}
#gitlink:hover {
	background-color: MediumPurple;
}
#barlink {
	background-color: #379583;
	border-left-width: 1px;
	border-right-width: 1px;
}
#barlink:hover {
	background-color: #a3c2bc;
}
#helplink {
	background-color: navy;	
	border-left-width: 1px;
	position: relative;
}
#helplink:hover {
	background-color: blue;
}
#helplink:hover .tooltip{
	visibility: visible;
}

li a{
	display: block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: white;
	width: 100%;
	height: 100%;
}
.totalp {
	font-size: 2.5vw;
	margin: 0px;
	font-weight: bold;
}
.qty-label {
	font-size: 2vw;
	margin: 0px;
	font-weight: bold;
}
.barcode {
	display: block;
	box-sizing: border-box;
	width: 50%;
	margin: auto;
}
.sidebar {
	box-sizing: border-box;
	width: 300px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
	float: left;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.input {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	border: 3px solid green;
	width: 100%;
	height: 140px;
	min-height: 140px;
	margin-bottom: 10px;
	padding: 5px;
}
.list {
	box-sizing: border-box;
	border: 3px solid green;
	padding: 0px;
	flex-grow: 1;
	overflow-y: scroll;
}
.listrow {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	padding: 2px;
	align-items: center;
	border: 1px solid black;
}
.preview {
	box-sizing: border-box;
	border: 3px solid green;
	height: 100%;
	padding: 0px;
	float: none;
    overflow-x: hidden;
	overflow-y: scroll;
	background-color: silver;
}
.page {
	box-sizing: border-box;
	border: 2px solid black;
	max-width: 210mm;
	width: 100%;
	overflow-x: hidden;
	background-color: white;
	margin: auto;
	padding: 5mm;
}
.barcode-container {	
	text-align: center;
	box-sizing: border-box;
	/*border: 2px solid black;*/
	background-color: white;
	width: 33.3%;
	aspect-ratio: 1.89/1;
	float: left;
	vertical-align: top;
}
#total-container {	
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	background-color: white;
	border: 5px solid black;
	border-radius: 10px;
	width: 33.3%;
	aspect-ratio: 1.89/1;
	float: left;
	text-align: center;
	line-height: 100%;
	vertical-align: top;
}
.actionbutton {
	background-color: #04AA6D; /* Green */
	border: 2px solid black;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	flex-grow: 1;
}
.delbutton {
	box-sizing: border-box;
	max-width: 50px;
}
.listlabel {
	display: inline-block;
	box-sizing: border-box;
	width: 125px;
}
.listnum {
	box-sizing: border-box;
	flex-grow: 1;
	min-width: 70px;
	margin-right: 2px;
}
#inputflex {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
}
#add {
	box-sizing: border-box;
	width: 50px;
	margin-left: 5px;
}
#code-in {
	box-sizing: border-box;
	flex-grow: 1;
}
#inlabel {
	display: inline-block;
	box-sizing: border-box;
	width: 75px;
}
#buttondiv {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	flex-grow: 1;
}
#qtyspan {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.tooltip {
	visibility: hidden;
	width: 98px;
	height: 44px;
	background-color: white;
	box-sizing: border-box;
	border: 2px solid black;
	border-left-width: 1px;
	color: black;
	text-align: center;
	position: absolute;
	z-index: 1;
	top: -2px;
	left: 0px;
	padding: 2px;
}
.tiptext {
	font-size: 12px;
}